<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- Storage access permission
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="32"
		tools:ignore="ScopedStorage" />
  
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" /> -->

	<application
		android:allowBackup="true"
		android:icon="${appIcon}"
		android:label="${appLabel}"
		android:requestLegacyExternalStorage="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/PasscodesTheme"
		android:localeConfig="@xml/locales_config"
        tools:targetApi="33">
		<activity
			android:name=".ui.activities.MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        <activity android:name=".ui.activities.PasswordManagerActivity" />
    	<activity android:name=".ui.activities.SavePasswordActivity" />
    	<activity android:name=".ui.activities.LoadPasswordActivity" />
    	<activity android:name=".ui.activities.ViewPasswordActivity" />
    	<activity android:name=".ui.activities.UpdatePasswordActivity" />
		<activity android:name=".ui.activities.SettingsActivity" />
		<activity android:name=".ui.activities.AboutUsActivity" />

		<service
			android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
			android:enabled="false"
			android:exported="false">
			<meta-data
				android:name="autoStoreLocales"
				android:value="true" />
		</service>
	</application>

</manifest>
